@import './common';
@import './utils/vars';
@import './utils/visually-hidden';
@import './base/reset';
@import './components/about';
@import './components/advantages';
@import './components/btnup';
@import './components/buy-now-modal';
@import './components/contacts';
@import './components/customer-reviews';
@import './components/footer';
@import './components/form';
@import './components/franchise-modal';
@import './components/gallery';
@import './components/header';
@import './components/header';
@import './components/ingredients-modal';
@import './components/ingridients-icecoffemodal';
@import './components/ingridients-milkshakesmodal';
@import './components/our-location-modal';
@import './components/products';
@import './components/read-more-modal';
@import './components/';