<footer>
<div>
    <div>
        <p>homemade ice cream made
        </p>
        <p">with passion</p>
    </div>
    <div>
        <ul>
            <li>
                <a href="https://github.com" target="blank" rel="noopener noreferrer"
                    aria-label="github">
                    <svg width="20" height="20">
                        <use href=""> </use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://telegram.org" target="blank" rel="noopener noreferrer"
                    aria-label="telegram">
                    <svg width="20" height="20">
                        <use href=""></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://facebook.com" target="blank" rel="noopener noreferrer"
                    aria-label="facebook">
                    <svg> width="20" height="20">
                        <use href=""></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>
</footer>